@tailwind base;
@tailwind components;
@tailwind utilities;

.flag {
  position: relative;
  width: 150px;
  height: 100px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: #fe0000;
  display: grid;
  place-items: center;
}

.flag::before {
  position: absolute;
  content: "";

  width: 75px;
  aspect-ratio: 1;
  background-color: white;

  clip-path: polygon(
    0 35%,
    35% 35%,
    35% 0%,
    65% 0%,
    65% 35%,
    100% 35%,
    100% 65%,
    65% 65%,
    65% 100%,
    35% 100%,
    35% 65%,
    0 65%
  );
}

.tabList {
  @apply flex space-x-1 rounded-xl bg-blue-900/20 p-1;
}

.tabButton {
  @apply w-full rounded-lg py-2.5 text-sm font-medium leading-5 ring-white/60 ring-offset-2 ring-offset-blue-400 focus:outline-none focus:ring-2;
}

.tabButton:active {
  @apply bg-white text-blue-700 shadow text-blue-100;
}

.tabButton:hover {
  @apply bg-white/[0.12] text-white;
}
